Repository mahdi-sheibak/skill-test: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

.lintstagedrc.json:

{
  "*.{json,html}": [
    "prettier --write",
    "cspell  --no-must-find-files",
    "git add"
  ],
  "*.{md,yaml,yml}": ["cspell  --no-must-find-files", "git add"],
  "*.ts(x)?": [
    "eslint --fix",
    "prettier --write",
    "cspell  --no-must-find-files",
    "git add"
  ]
}

chore: add LICENSE file
  LICENSE
  README.md
  configs/cspell/skill-test.en.txt
Due: cspell --no-must-find-files

chore: add vercel analytics
  apps/web/app/layout.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

feat: add sentry
  .gitignore
  .vscode/settings.json
  apps/web/app/layout.tsx
  apps/web/app/loading.tsx
  apps/web/app/page.tsx
  apps/web/components/TestSentry.tsx
  apps/web/next.config.js
  apps/web/package.json
  apps/web/pages/404.tsx
  apps/web/sentry.client.config.js
  apps/web/sentry.edge.config.js
  apps/web/sentry.properties
  apps/web/sentry.server.config.js
  apps/web/tsconfig.json
  package.json
  packages/ui/Button.tsx
  packages/ui/index.tsx
  pnpm-lock.yaml
  turbo.json
Due: prettier --write, cspell --no-must-find-files

refactor: remove engines in package.json
  .npmrc
  package.json
Due: prettier --write, cspell --no-must-find-files

feat: add git hook post-checkout, post-commit
  configs/husky/post-checkout
  configs/husky/post-commit
Due: none

fix: fix excuteble on git hooks post-checkout, post-commit
  configs/husky/post-checkout
  configs/husky/post-commit
Due: none

chore: add staging branch
  apps/web/app/page.tsx
Due: none

chore: add dev branch
  apps/web/app/page.tsx
Due: none

refactor: change page.tsx for dev deployment
  apps/web/app/page.tsx
Due: none

refactor: add origin daynamic branch name into husky hooks
  configs/husky/post-checkout
  configs/husky/post-commit
Due: none

chore: add prod and dev env to README
  README.md
Due: cspell --no-must-find-files

chore: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

refactor: move cspell and husky to packages folder
  .cspell.json
  .lintstagedrc.json
  package.json
  packages/cspell/skill-test.en.txt
  packages/cspell/skill-test.fa.txt
  packages/husky/commit-msg
  packages/husky/post-checkout
  packages/husky/post-commit
  packages/husky/pre-commit
Due: prettier --write, cspell --no-must-find-files

refactor: excute commitlint with pnpm exec
  package.json
  packages/husky/commit-msg
Due: prettier --write, cspell --no-must-find-files

refactor: add message from git hooks
  packages/husky/commit-msg
  packages/husky/post-checkout
  packages/husky/post-commit
  packages/husky/pre-commit
Due: none

chore: add color gradiant for git hooks info messages
  .npmrc
  packages/husky/commit-msg
  packages/husky/post-checkout
  packages/husky/post-commit
  packages/husky/pre-commit
Due: none

feat: guard on post-checkout hook for pull branch
  packages/husky/post-checkout
Due: none

feat: setup prepare-commit-msg
  packages/husky/prepare-commit-msg
Due: none

🐞 fix: fix all git hooks
  .commitlintrc.json
  packages/husky/prepare-commit-msg
  packages/husky/prepare-commit-msg-t
Due: prettier --write, cspell --no-must-find-files

refactor: remove husky hook prepare-commit-msg
  .commitlintrc.json
  package.json
  packages/husky/prepare-commit-msg-t
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

refactor: add conventionalcommits link into README.md
  README.md
Due: cspell --no-must-find-files

feat: v0
  apps/web/app/page.tsx
  apps/web/package.json
  package.json
  packages/eslint-config-custom/package.json
  packages/tsconfig/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

feat: add axios logger
  apps/web/next.config.js
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files
